<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>demo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/mem</url-pattern> 
</servlet-mapping>


	<servlet>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>com.member.controller.VerifyServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/verify</url-pattern> 
</servlet-mapping>


	
	
	<!-- coi618: Data Source cfg 連線池設定 5/17 19:17
 	<res-ref-name>jdbc/G2Product</res-ref-name> tia101_g2 | TestDB
 	連動 Server/[cat]/context.xml 
	-->
 	<resource-ref>
 		<description>DB Connection</description>
 		<res-ref-name>jdbc/tia101_g2</res-ref-name>
 		<res-type>javax.sql.DataSource</res-type>
 		<res-auth>Container</res-auth>
 	</resource-ref>
 	<!-- END of Data Source cfg 連線池設定 5/17 19:17 -->
 
 <!-- Filter mapping for member -->
 	  <filter>
        <filter-name>memberFilter</filter-name>
        <filter-class>com.member.filter.memberFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>memberFilter</filter-name>
        <url-pattern>/front-end/member/memberProfile.jsp</url-pattern>  
        <url-pattern>/front-end/member/memberProduct.jsp</url-pattern>  
        <url-pattern>/front-end/member/memberTicket.jsp</url-pattern>  
        <url-pattern>/front-end/member/memberComments.jsp</url-pattern>  
    </filter-mapping>
 	
 	<session-config>
    <session-timeout>60</session-timeout>
</session-config>
</web-app>